@model Cliente

<div class="form">
    <input asp-for="ClienteId" placeholder="Digite um id" type="number" class="form-control" required/>
</div>

<style>
    .form {
        margin: 20px 0;
    }
</style>